* {
    margin: 0 auto;
}

.logo {
    height: 60px;
    display: flex;
    justify-content: left;
    gap: 10px;
}

nav {
    background-color: #FC3727;
    height: 60px;
    width: 100%;
}





.game-filters{
    display: flex;
    align-items: center;

}

.banner {
    display: flex;
    margin: auto;
    width: 1400px;
    height: 400px;
}

.plataform {
    display: flex;
    align-items: center;
}
.plataform2 {
    display: flex;
    align-items: center;

}

.game-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.game {
    border: 1px solid black;
    width: 250px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;

}

.game img {
    width: 80%;
    margin: auto;
    display: block;

}

body {
    background-color: #FFAA05;

}

