* {
    margin: 0 auto;
}

.logo {
    height: 60px;
    display: flex;
    justify-content: left;
    gap: 10px;
    font-family: 'Exo 2', sans-serif;
}
.container-fluid {
    justify-self: flex-end;
}

nav {
    background-color: #FC3727;
    height: 60px;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
}
.navbar-brand {
    background-color: #FC3727;
    border: none;
    justify-content: right;
    text-decoration: none;
    font-size: 20px;
}

.nav-link {
    background-color: #FC3727;
    border: none;
    justify-content: right;
    text-decoration: none;
    font-size: 20px;
}

.game-filters{
    display: flex;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    list-style-type: none;

}

.banner {
    display: flex;
    margin: auto;
    width: 1400px;
    height: 400px;
    font-family: 'Exo 2', sans-serif;

}
.plataform {
    display: flex;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
.plataform2 {
    display: flex;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    list-style-type: none;

}

.game-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Exo 2', sans-serif;
}

.game {
    border: 1px solid black;
    width: 250px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    font-family: 'Exo 2', sans-serif;

}

.game img {
    width: 80%;
    margin: auto;
    display: block;

}

body {
    background-color: #FFAA05;
    font-family: 'Exo 2', sans-serif;

}

