.logo {
    height: 60px;
    display: flex;
    justify-content: left;
    gap: 10px;
}
.container-fluid {
    background-color: #FC3727;
    height: 60px;
    width: 1800px;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.game {
    border: 1px solid black;
    width: 250px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;

}
.game img {
    width: 80%;
    margin: auto;
    display: block;

}
body{
    margin: auto ;
    background-color:#FFAA05;

}