<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>

<ul class="game-filters">
    <li><a href="#">All</a></li>
    <li><a href="#">Sports</a></li>
    <li><a href="#">Action</a></li>
    <li><a href="#">Shooter</a></li>
    <li><a href="#">Racing</a></li>
    <li><a href="#">Role-playing</a></li>
    <li><a href="#">Puzzle</a></li>
    <li><a href="#">Platform</a></li>
    <li><a href="#">Misc</a></li>
</ul>

<section th:replace="games/all"></section>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
