<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>

<ul class="game-filters">
    <li><a href="#">All</a></li>
    <li><a href="#">Sports</a></li>
    <li><a href="#">Action</a></li>
    <li><a href="#">Shooter</a></li>
    <li><a href="#">Racing</a></li>
    <li><a href="#">Role-playing</a></li>
    <li><a href="#">Puzzle</a></li>
    <li><a href="#">Platforms</a></li>
    <li><a href="#">Misc</a></li>
    <li><a href="#">Simulation </a></li>
    <li><a href="#">Fighting</a></li>


    <li><a href="#">Adventure</a></li>
</ul>
<div class="banner">
    <img th:src="@{/img/battlefront.jpg}"/>
    <div class="box">
    <h2>Star Wars Battlefront</h2>
    <br>
    <p> STAR WARS ™ Battlefront es un juego de acción/shooter que ofrece a los fans y a los jugadores la oportunidad de revivir y participar en todas las batallas clásicas de Star Wars como nunca antes</p>
    <br>
    <h4>
        PS4
        NON-REALISTIC VIOLENCE
        2015
        </h4>
        <h3>
        €49.99
        </h3>
    </div>

    </div>

<ul class="plataform">
    <li><a href="#">WII</a></li>
    <li><a href="#">NES</a> </li>
    <li><a href="#">GB</a></li>
    <li><a href="#">DS</a></li>
    <li><a href="#">X360</a></li>
    <li><a href="#">PS3</a></li>
    <li><a href="#">PS2</a></li>
    <li><a href="#">SNES</a></li>
    <li><a href="#">GBA</a></li>

    </ul>

<ul class="plataform2">
    <li><a href="#">3DS</a></li>
    <li><a href="#">PS4</a></li>
    <li><a href="#">N64</a></li>
    <li><a href="#">PS</a></li>
    <li><a href="#">XB</a></li>
    <li><a href="#">PC</a></li>
    <li><a href="#">2600</a></li>
    <li><a href="#">PSP</a></li>
</ul>


<section th:replace="games/all"></section>

<footer th:replace="fragments/footer"></footer>
</body>
</html>
