<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<section class="container">
    <h1 th:text="${title}"></h1>
      <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="game:${games}">
            <td th:text="${game.id}"></td>


        </tr>
        </tbody>
    </table>
</section>
<footer th:replace="fragments/footer"></footer>

</body>
</html>