<section class="container">
    <h1 th:text="${title}"></h1>
    <div class="game-list">

    <div class="game" th:each="game:${games}">
        <img th:src="@{${game.photoImagePath}}" />
        <div th:text="${game.id}"></div>
        <div th:text="${game.title}"></div>
        <div th:text="${game.platform}"></div>
        <div th:text="${game.priceoriginal}"></div>
        <button>
            <a class="btn btn-danger btn-sm" th:href="'/games/edit/'+${game.id}">Edit</a>
            <a class="btn btn-danger btn-sm" th:href="'/games/delete/'+${game.id}">Delete</a>
        </button>
    </div>
    </div>
</section>
