<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html"></head>

<body>
<header th:replace="fragments/header"></header>
<section class="container">
    <form th:action="@{/new}" th:object="${game}" method="post">
        <div class="form-group">
        <input type="hidden" th:field="*{id}">
        <label class="col-md2" for="title">Title</label>
        <input th:field="*{title}" type="text" class="col-md6 form-control form-control-sm" id="title"
               placeholder="Enter title">
        </div>

        <div class="form-group">
            <label class="col-md2" for="platform">Platform</label>
            <input th:field="*{platform}" type="text" class="col-md6 form-control form-control-sm" id="platform"
                placeholder="Enter platform">
        </div>
        <div class="form-group">
            <label class="col-md2" for="priceoriginal">Price</label>
            <input th:field="*{priceoriginal}" type="text" class="col-md6 form-control form-control-sm" id="priceoriginal"
                placeholder="Enter priceoriginal">
        </div>

        <div class="card-footer ">
            <input type="submit" class="btn btn-primary btn-sm" value="Save"/>
        </div>
    </form>
    </section>
<footer th:replace="fragments/footer"></footer>
</body>
</html>

